html {
    box-sizing: border-box;
    background: #FFAEBC;
    font-family: 'helvetica', arial;
    font-size: 20px;
    font-weight: 200;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
  

.search-form {
    max-width: 400px;
    margin: 50px auto;

}

input {
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.05);
    color:  rgba(0, 0, 0, 0.5) ;
}

input.search-input {
    margin: 0;
    text-align: center;
    outline: 0;
    border: 10px solid rgba(255, 255, 255, 0.3);

    width: 120%;
    left: -10%;
    position: relative;
    top: 10px;
    z-index: 2;
    border-radius: 5px;
    font-size: 40px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1),  inset 0 0 2px rgba(0, 0, 0, .2);
}


.suggestions li {   
    background: rgba(255, 255, 255, 0.05);
    list-style: none;
    border-bottom:1px solid rgba(255, 255, 255, 0.3);;
    margin: 0;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1),  inset 0 0 2px rgba(0, 0, 0, .2);
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    padding: 20px;
}

.suggestions li:nth-child(even) {
    transform: perspective(100px) rotateX(4deg) translateY(2px) scale(1.001);
}
.suggestions li:nth-child(odd) {
    transform: perspective(100px) rotateX(-4deg) translateY(3px);

}


span.population {
    font-size: 15px;
  }
  
  .hl {
    background: #FBE7C6;
  }
  