body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: teal;
}
.inbox {
    display: flex;
    flex-direction: column;
    margin: 1em;
    background: rgb(206, 206, 206);
    width: 20%;
    border-radius: 10%;
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
   gap: 1em;
}